.bs-glyphicons {
    margin-right: 0;
    margin-left: 0;
}
.bs-glyphicons {
    margin: 0 -10px 20px;
    overflow: hidden;
}
.bs-glyphicons-list {
    padding-left: 0;
    list-style: none;
}
.bs-glyphicons li {
    width: 12.5%;
    font-size: 12px;
		cursor: pointer;
}
.bs-glyphicons li {
    float: left;
    width: 10%;
    height: 115px;
    padding: 10px;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #fff;
}
.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
#selected-icon{
	font-size: 18px;
}
#menu_tabs{
	background: #FFF;	
}
.menuLoading{
		cursor: pointer;
		float: right;
    margin-top: -33px;
    margin-right: 1px;
    z-index: 99;
		background: #eaf7ff;
}
.menuLoading:hover{
	background: #caebff
}
.team-view .detail-view img{
	max-width: 300px;
}
.portfolio-create .select2-container--default .select2-selection--multiple .select2-selection__choice__remove,
.portfolio-update .select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
	color: #222;
}
