.blog-detail-image{
	float: left;
	margin: 0 20px 10px 0;
	max-width: 200px;
}

#team .team-about{
	text-align: left;
}

#team .team-about{
	line-height: 1;
}

section{
	padding: 70px 0 10px 0;
}
section .container{
	background: #fff;	
	padding-top: 50px;
}
section.teammate-detail .container{
	background: #373948;
}
.team-view #team .col-md-2 img{
	box-shadow: 0 0 5px 2px #888;
}
.team-view h2.section-heading{
	color: #fff;
}
section#team #team-detail{
	background: #fff;
	padding: 25px 0 50px 0;
	min-height: calc(100vh - 340px);
}
section#team .team-member{
	height: 356px;
  overflow: hidden;
}
body.site-index #team .team-member{
	height: 320px;
}
#skills-list{
	margin: 25px;
	text-align: center;
}
#skills-list li{
	font-size: 13px;
	border-bottom: 1px solid #888;
	padding-top: 10px;
	font-weight: 600;
}
section#team .team-about p {
    margin: 0;
		margin: 0;
    font-size: 16px;
}
section#team h2.section-heading{
	margin-top: 25px;
}
.team-job{
	color: #fed136;
	padding-bottom: 10px;
}
#services .carousel-control, #team .carousel-control{
	background: none;
}
#services .col-md-4.item {
    /*height: 200px;*/
}
.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
.MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
.MultiCarousel .MultiCarousel-inner .item { float: left;}
.MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
.MultiCarousel .leftLst { left:0; }
.MultiCarousel .rightLst { right:0; }
    
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }


.carousel-control .glyphicon-chevron-left{
	left: 20%;
}
.carousel-control .glyphicon-chevron-right{
	right: 20%;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right{	
	/*margin-top: 50%;*/
	color: #222;
}

body.site-index .carousel-indicators{
	display: none;
}

body.site-index section > .container{
	padding: 0;
}
body.site-index section#team .team-member{
	margin: 0;
}

body.site-index section#team p.text-muted.large, body.site-index section#team h3.section-subheading{
	font-size: 20px;
	margin-bottom: 25px;
}

body.site-index section#services{
	padding: 20px 0 10px 0;
}

body.site-index .bxsliderService .glyphicon, body.site-index .bxsliderTeam .glyphicon{
	color: #222;
}

body.site-index .bxsliderService .fa-stack, body.site-index .bxsliderTeam .fa-stack{
	line-height: 2.15em;
}

header{
	height: 100vh;
}

body.site-index .btn-xl{
	margin-top: 50px;
	font-size: 24px;
}

body.site-index header .intro-text{
	padding-top: 40%;
}

body.site-index header .intro-text .intro-lead-in{
	font-size: 32px;
	line-height: 40px;
  margin-bottom: 10px;
}

body.site-index header .intro-text .intro-heading{
    font-size: 39px;
    line-height: 50px;
    margin-bottom: 50px;
}

body.site-index section#contact > .container{
	padding: 15px;
}

body.site-index section#contact h3.section-subheading{
	font-size: 24px;
	margin-bottom: 25px;
}
body.site-index section#contact .btn-xl{
	margin-top: 5px;
	font-size: 18px;
}

.team-member img{
	width: 100%;
}

body.site-index section#services .col-md-4{
	height:250px;
}

.site-index .intro-text > div{
	text-shadow: 1px 1px 2px #222;
}

body.site-index section#contact{
	padding: 70px 0;
}

body.site-index section#contact .section-heading{
	color: #333333;
}

body.portfolio-index h3.section-subheading{
	font-size: 20px;
	margin-bottom: 25px;
}

.careers-index #careers .fa-stack{
	font-size: 70px;
	color: #000;
}

.careers-index #careers .fa-stack i.glyphicon{
	    line-height: unset;
}

@media (max-width: 1600px){
	body.site-index .btn-xl{
		margin-top: 22px;
    	font-size: 18px;
	}

	body.site-index header .intro-text{
		padding-top: 270px;
	}

	body.site-index header .intro-text .intro-lead-in{
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 10px;
	}

	body.site-index header .intro-text .intro-heading{
			font-size: 28px;
			line-height: 32px;
			margin-bottom: 50px;
	}
}

@media (max-width: 1500px){
	body.site-index .btn-xl{
		margin-top: 22px;
    font-size: 18px;
	}

	body.site-index header .intro-text{
		padding-top: 340px;
	}

	body.site-index header .intro-text .intro-lead-in{
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 10px;
	}

	body.site-index header .intro-text .intro-heading{
			font-size: 28px;
			line-height: 32px;
			margin-bottom: 50px;
	}
}

@media (max-width: 1400px){
	body.site-index .btn-xl{
		margin-top: 22px;
    font-size: 18px;
	}

	body.site-index header .intro-text{
		padding-top: 270px;
	}

	body.site-index header .intro-text .intro-lead-in{
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 10px;
	}

	body.site-index header .intro-text .intro-heading{
			font-size: 28px;
			line-height: 32px;
			margin-bottom: 50px;
	}
}

@media screen and (orientation: landscape) and (max-width: 1399px){
	body.site-index .btn-xl{
		font-size: 30px;
    margin-top: 60px;
    padding: 15px 20px;
	}
	body.site-index header .intro-text{
		padding-top: 350px;
	}

	body.site-index header .intro-text .intro-lead-in{
		font-size: 26px;
		line-height: 2;
		margin-bottom: 10px;
	}

	body.site-index header .intro-text .intro-heading{
			font-size: 32px;
			line-height: 1;
			margin-bottom: 50px;
	}
}

header{
	background-image: url(../img/bg-1000.jpg);
}
@media (min-width: 1000px) {
	header{
		background-image: url(../img/bg-1500.jpg);
	}
}
@media (min-width: 1500px) {
	header{
		background-image: url(../img/bg-2000.jpg);
	}
}
@media (min-width: 2000px) {
	header{
		background-image: url(../img/bg.jpg);
	}
}
